# use any one Api is enough 
GOOGLE_API_KEY=YOur_Google_API_Key_Here
OPENAI_API_KEY=Your_OpenAI_API_Key_Here
GROQ_API_KEY=Your_GROQ_API_Key_Here

SERPAPI_API_KEY=YOUR_SerpAPI_API_Key_Here   # not necessay , we use it for Google Search results, you can remove it if you don't need it